
.c{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px ;


 }

 .row1{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    /* gap: 10px; */
    width: 100%;
    height: 100%;
    padding: 2%;

 }
 .photo1{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display:inline-flex;
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;
 }
 div[class="me"],
 [class="me1"],
 [class="me2"],
 [class="me3"],
 [class="me4"],
 [class="me5"]{
    margin-left: 80px;
    font-size: 25px;
    font-family: cursive, sans-serif;
 }
 .icon{
    top:auto;
    margin-left: -100px;


 }
 #plus{
    color: #9DC08B;
    font-size: 27px;
    border: none;
 }
 #minus{
    color: #fa0202;
    font-size: 27.5px;
    border: none;

 }
 .fa-solid{
    margin-left: 160px;
 }
 .photo2{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;


 }

 .photo3{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;


 }
 .row3{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 2%;

 }
 .photo4{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;

 }
 .photo5{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;


 }
 .photo6{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;
 }
 .line{
    height: 100px;
    width: 100%;
    border-top: #9DC08B 10px solid;
    border-bottom: #9DC08B 10px solid;
    background-color: #F8FAEF;
    bottom: -500px;
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
 }
 .images .line.text1{
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
 }

 .buy-btn{
    background-color:  #9DC08B;
    margin: -20px 630px;
    font-size: 30px;
    color: #F8FAEF;
    border: 3px solid #9DC08B ;
    padding: 6px;
    width: 200px;
    border-radius: 10px;

 }

