*{
    margin: 0;
    padding: 0;
}

.container{
    background: linear-gradient(180deg, rgba(248, 250, 239, 0.44) 0%, rgba(172, 202, 171, 0.44) 40.66%, rgba(96, 153, 102, 0.44) 100%);
    display: flex;
    justify-content: space-between;
    height: 190px;
    font-family: system-ui;
    
}

.container b{
    color:  #CBB04F;
    font-size: 60px;
    padding: 40px 0 0 90px;
}
.container .text1 .con{
    color: #40513B;
    font-size: 30px;
    padding: 0 0 0 10px;
    font-weight: 490;
   
}

.container .text1{
    padding: 10px 80px 0 20px;
}
.container .text1 .text2 a{
    color: #40513B;
    padding: 5px 8px 0 10px;
    font-size: 50px;
}
.container .text1 .text2 a i{
    size: 60px;
}