body{
    margin: auto;
    background-color: #f8faef;
}
.di {
    color:#CBB04F;
    background-color:#40513B ;
    width: auto;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 10px solid #82a178;
    border-right: 10px solid #82a178;
    border-left: 10px solid #82a178;
}
.h{

/* background-color: bisque; */
    font-family:cursive;
    font-size: 25px;
    margin-top: -395px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 145px;
    color:#CBB04F;


}


.p{

    font-family:'Times New Roman', Times, serif;
    font-style: dis;
    font-size: 40px;
    line-height: 30px;
    margin-top: -70px;
    margin-left:150px;
    display: flex;
    flex-wrap: wrap;
    color:#CBB04F;


}
.im{
    width: auto;
    margin:auto ;
    align-items: end;
    margin-right: 19px;

}

.c{
    /* background-color: #a7ada6; */

    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 330px 30px 30px 30px;


}

.row1{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 2%;

}
.photo1{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display:inline-flex;
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;
}
div[class="me"],
[class="me1"],
[class="me2"],
[class="me3"],
[class="me4"],
[class="me5"]{
    margin-left: 60px;
    font-size: 20px;
    font-family: cursive, sans-serif;
}
.fa-solid{
    margin-left: 160px;
}
.photo2{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;


}

.photo3{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;


}
.row3{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 2%;

}
.photo4{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;

}
.photo5{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;


}
.photo6{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: inline-block;
    flex-direction: row;
    /* padding: 2%; */
    margin-left: 40px;
    margin-right: 20px;
    border: 5px solid #82a178;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lexend',sans-serif;

}
header{
    background: #40513B;
    border-top: 10px solid #82a178;
    border-left: 10px solid #82a178;
    border-right: 10px solid #82a178;
    display: flex;
    justify-content: left;
    /* margin: 2px; */
    margin-left: auto;
    margin-right: auto;


}
.task{
    text-decoration: none;
    color: aliceblue;
 }


 header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none ;
    padding:13px 100px 10px 100px ;

 }
header ul li {
    margin:0 10px 0 10px ;
    font-family: 'Lexend',sans-serif;
    font-size: 30px;

}
header ul li .task{
    padding: 3px 30px;
    border-radius: 20px;
}


header ul li .task:hover{
    background: white;
    color: #40513B;

}



.text1{
    display: flex;
    justify-content: center;
 }
 .container h1{
    color:  #CBB04F;;
 }
 .container.content .con {
    color: #40513B;

 }
 .container .text1 .con{
    color: #40513B;
 }

 *{
    margin: 0;
    padding: 0;
}

.container{
    background: linear-gradient(180deg, rgba(248, 250, 239, 0.44) 0%, rgba(172, 202, 171, 0.44) 40.66%, rgba(96, 153, 102, 0.44) 100%);
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
    justify-content: space-between;
    height: 190px;
    font-family: system-ui;
    width: 100%;

}

.container b{
    color:  #CBB04F;
    font-size: 60px;
    padding: 40px 0 0 90px;

}
.container .text1 .con{
    color: #40513B;
    font-size: 30px;
    padding: 0 0 0 10px;
    font-weight: 490;

}

.container .text1{
    padding: 10px 80px 0 20px;
}
.container .text1 .text2 a{
    color: #40513B;
    padding: 5px 8px 0 10px;
    font-size: 50px;
}
.container .text1 .text2 a i{
    size: 60px;
}
