*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lexend',sans-serif;

}
.navbar{
    background: #40513B;

    border-top: 10px solid rgba(203, 176, 79, 0.38);
    border-left: 10px solid rgba(203, 176, 79, 0.38);
    border-right: 10px solid rgba(203, 176, 79, 0.38);
    display: flex;
    justify-content: left;
    /* margin: 2px; */
    margin-left: auto;
    margin-right: auto;

}
.task{
    text-decoration: none;
    color: aliceblue;
 }
 header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none ;
    padding:13px 100px 10px 320px ;

 }
header ul li {
    margin:0 20px 0 30px ;
    font-family: 'Lexend',sans-serif;
    font-size: 30px;

}
header ul li .task{
    padding: 3px 30px;
    border-radius: 20px;
}


header ul li .task:hover{
    background: white;
    color: #40513B;

}



.text1{
    display: flex;
    justify-content: center;
 }
 .container h1{
    color:  #CBB04F;;
 }
 .container.content .con {
    color: #40513B;

 }
 .container .text1 .con{
    color: #40513B;
 }
